{
    "email" : "fake_user_129",
    "locations" :
    [
       {
            "label": "home",
            "coordinate": [37.77264255,-122.399714854263]
        },

        {
            "label": "work",
            "coordinate": [37.42870635,-122.140926605802]
        },
        {
            "label": "family",
            "coordinate": [37.87119, -122.27388]
        }
    ],
    "modes" : 
    {
        "CAR" : [["home", "family"]],
        "TRANSIT" : [["home", "work"], ["work", "home"]]  
    },

    "default_mode": "CAR",
    "initial_state" : "home",
    "radius" : ".1"
}
